@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  color: inherit;
}

hr {
  border: none;
  border-bottom: 1px solid #CACDD8;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(219, 216, 216);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9a7a7;
}

.app_container {
  width: 100%;
}

/* topnav stylying  */
#topNav {
  display: flex;
  background-color: #020202;
  color: white;
  font-size: 12px;
  align-items: center;
  height: 5vh;
  width: 100%;
}

.topNavContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: auto;
}

.topNavLeft {}

.topNavLeft span {
  color: #a2a6b0;
}

.topNavMiddle {
  display: flex;
  gap: 8px;
  color: #a2a6b0;
  align-items: center;
}

.topNavMiddle a {
  color: white !important;
}

.topNavRight {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* navbar stylying */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.navContent {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
}

.navbarLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#logo_img {
  width: 25px;
}

.navList {
  display: flex;
  gap: 1rem;
}


.navList li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;

}

.navList li a:hover {
  background: #0156FF;
  padding: 0.9rem 12px;
  border-radius: 2rem;
  color: #fff;
  transition: 0.2s ease-in-out;

}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cartBox {
  display: flex;
  align-items: center;
  gap: 3px;
}

.cartCount {
  font-size: 12px;
}

.userImg {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar_loginBtn {
  background: #0156FF;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
  outline: none;

}

/* heroSection stylying  */
.heroSection {
  width: 80%;
  margin: auto;
}

.sliderImg_wrapper {
  width: 100%;
}

.sliderImg_wrapper img {
  width: 100%;
}

/* new Products section stylying  */
.newProducts_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.newProducts_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newProducts_header h2 {
  font-weight: 600;
  font-size: 22px;
}

.newProducts_card_wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
  height: 410px;
}

.newProducts_card {
  display: flex;
  flex-direction: column;
  width: 220px;
  text-decoration: none !important;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  transition: all 0.5s ease;
  /* Defining the transition property */
  cursor: pointer;
}

.newProducts_card:hover {

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background-color: red; */

}

.newProducts_stockInfo_para {
  font-size: 10px;
  color: #78a962;
}

.newProducts_imgWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 165px;
  align-self: center;
}

.newProducts_Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newProduct_review_box {
  font-size: 12px;
  color: #a2a6b0;
}

.newProduct_details {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.newProduct_delPrice {
  font-size: 13px;
  color: #666;
}

.newProduct_price {
  font-size: 19px;
}

.addToCart_btn {
  display: none;
  /* display: flex; */
  padding: 8px 20px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid #0156ff;
  background-color: #fff;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  transition: all 1.5s ease;
}

.newProducts_card:hover .addToCart_btn {
  display: flex;
}

.addToCart_btn p {
  color: #0156ff;
  font-size: 12px;
}

.Msi_Gs_Series_list_items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.Msi_Gs_Series_list_items li a {
  text-decoration: none;
  color: #838383;
  font-size: 15px;
  font-weight: 600;
}

.Msi_Gs_Series_active {
  color: #000 !important;
}

.customeBuild_banner {
  display: flex;
  min-width: 233px;
  height: 400px;
  color: white;
  background-image: url("https://images.pexels.com/photos/593093/pexels-photo-593093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: contain;
  position: relative;
  z-index: 2;
}

#customeBuild_banner2 {
  background-image: url("../images/MSI_seires.png") !important;
}

#customeBuild_banner3 {
  background-image: url("https://w0.peakpx.com/wallpaper/537/766/HD-wallpaper-gaming-pc-colourful-gaming-pc-thumbnail.jpg");
}

.customBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}

.customBuildContent {
  height: 70%;
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
  flex-direction: column;
}

.customBuilMainText {
  text-align: center;
}

.customeBuild_banner h3 {
  font-size: 22px;
  letter-spacing: 1px;
}

.customeBuild_banner a {
  font-size: 12px;
}

/* sponcers section  */
.sponcers_wrapper {
  width: 100%;
}

.sponcers_innerWrapper {
  width: 80%;
  margin: auto;
}

.sponcers_img_wrapper {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1.5rem;
}

.sponcers_img_wrapper img {
  /* width: 200px; */
  flex: 1;
  object-fit: contain;
  height: 65px;

}


/* support section  */
.supportSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  background-color: #f5f7ff;
}

.support_box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 265px;
}

.support_box_imgWrapper {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #0156ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support_box_imgWrapper img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.support_box_details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.support_box_details h2 {
  font-size: 18px;
}

.support_box_details p {
  font-size: 14px;
  text-align: center;
}

/* footer stylying */
.footer {
  width: 100%;
  /* height: 520px; */
  background-color: #020203;
}

.footerInnerContent {
  width: 80%;
  margin: auto;
}

.footer_content {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_subscribe_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_subscribe_box_left {
  color: white;
}

.footer_subscribe_box_left h1 {
  font-weight: 500;
  font-size: 31px;
}

.footer_subscribe_box_left p {
  font-size: 12px;
  font-weight: 300;
}

.footer_subscribe_box_right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer_subscribe_box_right input {
  width: 390px;
  height: 45px;
  padding: 0 12px;
  border-radius: 4px;
  border: 2px solid #fff;

  background: #000;
  font-size: 11px;
  color: #fff;
}

.footer_subscribe_btn {
  height: 45px;
  font-size: 11px;
  width: 140px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: #0156ff;
  color: #fff;
  cursor: pointer;
}

.footer_items_box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_item p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 11px;
}

.footer_item_lists {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

.footer_item_lists li a {
  text-decoration: none;
}

.footer_item_lists li a span {
  color: #01a4ff;
}

.footer_copywrite_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer_copywrite_section_item {
  display: flex;

  align-items: center;
  gap: 10px;
}

.footer_copywrite_section_item p {
  color: #fff;
  opacity: 0.6;
  font-size: 11px;
}

/* modal */

.closeModalButton {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #4776d4;
  padding: 5px;
  place-items: center;
  display: grid;

}

.closeModalButton img {
  width: 100%;
  height: 100%;
}

.searchModal {
  width: 100%;
  height: 100vh;
  top: 0;
  display: none;
  left: 0;
  position: fixed;
  z-index: 11;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5rem;
}


.modalContent {
  max-width: 500px;
  min-width: 500px;
  width: 95%;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  overflow-y: scroll;

}

.modalContent input {
  width: 95%;
  border-radius: 8px;
  padding: 0 1rem;
  border: 1px solid gray;
  font-size: 14px;
  outline: none;
  height: 55px !important;

}

.modalContent input::placeholder {
  font-size: 14px;

}

.modalSearchItemWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;


}

.searchProductImg {
  width: 80px;
  border-radius: 8px;
  height: 80px;
  object-fit: cover;
}

.searchedProducts {
  text-decoration: none;
  display: flex;
  width: 100%;
  gap: 1rem;
  /* background-color: rgba(128, 128, 128, 0.253); */
  border-bottom: 1px solid rgba(128, 128, 128, 0.47);
  padding: 10px;
  cursor: pointer;
}

.searchedProducts:hover {
  background-color: rgba(128, 128, 128, 0.249);
  ;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.searchProductName {
  letter-spacing: 0.9px;
}

.searchProductPrice {
  color: gray;
  letter-spacing: 1px;
}

/* media query  */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  #topNav {
    font-size: 9px;
  }

  .navContent {
    gap: 10px;
  }

  .navbarLeft {
    gap: 1rem;
  }

  .navbarLeft img {
    width: 20px;
  }

  .navList {
    gap: 10px;
  }

  .navList li a {
    font-size: 8.5px;
  }

  .navbarRight {
    gap: 1rem;
  }

  .cartCount {
    font-size: 10px;
  }

  .userImg {
    width: 26px;
    height: 26px;
  }

  .newProducts_section {
    gap: 1rem;
  }

  .newProducts_header h2 {
    font-size: 19px;
  }

  .customeBuild_banner {
    min-width: 200px;
    height: 315px;
  }

  .newProducts_header a {
    font-size: 14px;
  }

  .newProducts_imgWrapper {
    /* height: 110px;
  width: 145px; */
    height: 95px;
    width: 150px;
  }

  .newProducts_card_wrapper {
    height: 320px;
  }

  .newProducts_Img {
    width: 80%;
  }

  .newProduct_details {
    font-size: 11px;
  }

  .newProduct_price {
    font-size: 16px;
  }

  .sponcers_img_wrapper img {
    height: 40px;
  }

  .support_box_details h2 {
    font-size: 17px;
  }

  .support_box_details p {
    font-size: 13px;
  }

  .footer_subscribe_box_left h1 {
    font-size: 15px;
  }

  .footer_subscribe_box_left p {
    font-size: 11px;
  }

  .footer_subscribe_box_right input {
    width: 325px;
  }

  .footer_subscribe_btn {
    height: 43px;
    width: 100px;
  }

}

@media screen and (min-width:600px) and (max-width:768px) {
  .navList {
    gap: 10px;
}
.navbarLeft {
  gap: 1rem;
}
.navbarLeft img{
  width: 25px;
}
.navbar_loginBtn {
 
  padding: 5px;
  font-size: 10px;
}
.navList li a {
  font-size: 8px;
}
  .navbarRight {
    gap: 10px;
}
.navbarRight img{
  width: 16px;
}
.newProducts_header h2 {
  font-size: 20px;
}
.newProducts_header a{
  font-size: 12px;
}
.topNavLeft p{
  font-size: 6px;
}
.topNavMiddle p{
  font-size: 7px;
}
.topNavMiddle a{
  font-size: 8px;
}
.topNavRight p{
  font-size: 7px;
}
.topNavRight img{
  width: 12px;
}
.Msi_Gs_Series_list_items li a {
font-size: 12px;
}
  .customeBuild_banner {
    min-width: 185px;
    height: 357px;
}
.newProducts_card_wrapper {
  align-items: center;
}
.newProducts_card {
  width: 210px;
  height: fit-content;
}
.newProducts_Img {
  width: 80%;
  height:fit-content;
}
.newProduct_price {
  font-size: 16px;
}
.addToCart_btn {
  padding: 6px 15px;
}
.sponcers_img_wrapper img {
  height: 34px;
}
.supportSection {
  padding: 2rem 1rem;
  justify-content: center;
  gap: 10px;
}
.support_box_imgWrapper {
  width: 50px;
  height: 50px;
}
.support_box_details h2 {
  font-size: 16px;
}
.support_box_details p {
  font-size: 13px;
}
.footer_subscribe_box_right input {
  width: 300px;
 
}
.footer_subscribe_box_left h1 {
  font-size: 15px;
}
.footer_subscribe_box_left p {
  font-size: 10px;
}
  .footerInnerContent {
    width: 100%;
  }

}

@media screen and (min-width:480px) and (max-width:600px) {}

/* @media screen  and (max-width:480px){} */